node_modules/

backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/.factorypath

backend/*.jar

frontend/node_modules/

frontend/build/
frontend/dist/
frontend/.parcel-cache/
frontend/.next/
frontend/out/

*.pdf
